services:
  # The backend webserver (Your existing container)
  anymmo-webserver:
    image: anymmo-webserver:latest
    # Note: We don't expose 8080 to the host, it stays within the internal network
    expose:
      - "8080"
    volumes:
      - dp-keys:/app/keys
    restart: always

  # The SSL Reverse Proxy
  ssl-proxy:
    image: anymmo-nginx
    ports:
      - target: 80
        published: 80
        protocol: tcp
        mode: host # <--- This preserves the real IP
      - target: 443
        published: 443
        protocol: tcp
        mode: host
    depends_on:
      - anymmo-webserver
    restart: always

networks:
  default:
    name: anymmo-network
    
volumes:
  dp-keys: